---
layout: default
title: Home
---

<div class="row marketing">
	<div class="col-sm-4">
	<img  class="img-circle avatar" alt="Jonathan McGlone" src="img/jmcglone-200px.png">
	</div>
	<div itemscope itemtype="http://data-vocabulary.org/Person" class="col-sm-8">
	<p class="lead">Hi, I'm <span itemprop="name">Jonathan McGlone</span> and I make things on the web for academic libraries and scholarly publishers.</p>
	<p>I get by as a <span itemprop="title">librarian</span>, <span itemprop="title">front end developer</span>, <span itemprop="title">UI designer</span>, <span itemprop="title">digital publisher</span>, and music enthusiast living in <span itemprop="address" itemscope
    itemtype="http://data-vocabulary.org/Address">Northern <span itemprop="region">Michigan</span></span> and working for <a href="http://www.publishing.umich.edu">Michigan Publishing</a> at <span itemprop="affiliation">the <a href="http://www.lib.umich.edu">University of Michigan Library</a></span>.</p>
	
	<p>I'm also available for hire as a <span itemprop="title">freelance web developer, designer, or consultant</span>. <a href="contact">Drop me a line</a> about your project if you're interested in working with me.</p>
	</div>
</div>


<! -- <div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
